@model LoginUserViewModel
@{
    ViewData["Title"] = "Log in";
}
@*One Love Form*@
<div class="container">
    <div class="row justify-content-center" style="margin-top:2%">
        <div class="col-sm-6">
            <h3 class="text-success text-nowrap">Login</h3>
            <hr />
            <div class="card-deck">
                <div class="card" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="card-header text-center">
                        <div class="card-body" style="font-family:Verdana">
                            <form method="post" asp-controller="account" asp-action="login" asp-route-returnUrl="@Model.ReturnUrl">
                                <div class="card-body">
                                    <h3 class="text-center text-success">
                                        Log in!<br />
                                        <i class="fas fa-user-circle"></i>
                                    </h3>
                                    <hr />
                                    <div class="form-row py-2">
                                        <div class="col">
                                            <div>
                                                <input asp-for="Email" placeholder="Email..." class="form-control" autofocus />
                                                <span class="text-danger" asp-validation-for="Email"></span>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div>
                                                <input asp-for="Password" placeholder="Password..." class="form-control" />
                                                <span class="text-danger" asp-validation-for="Password"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="custom-checkbox">
                                            <label asp-for="RememberMe" class="col-form-label ml-3">
                                                <input asp-for="RememberMe" />
                                                @Html.DisplayNameFor(x => x.RememberMe)
                                            </label>
                                        </div>
                                    </div>
                                    <div class="py-2">
                                        <button type="submit" class="btn btn-success form-control">
                                            <i class="fas fa-sign-in-alt"></i>&nbsp;Log in
                                        </button>
                                    </div>
                                    <div class="py-1">
                                        <a asp-action="index" asp-controller="admin" class="btn btn-primary form-control">
                                            <i class="fas fa-long-arrow-alt-left"></i>&nbsp;Back to List
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="text-danger" asp-validation-summary="All"></div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 text-center">
            <h3 class="text-success text-nowrap">External Login</h3>
            <hr />
            @if (Model.ExternalLogins != null)
            {
                if (Model.ExternalLogins.Count == 0)
                {
                    <div>No external Logins configure</div>
                }
                else
                {
                    <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                        <div>
                            @if (Model.ExternalLogins != null)
                            {
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Login using your @provider.DisplayName account">
                                        <i class="fas fa-google"></i>&nbsp;@provider.DisplayName

                                    </button>
                                }
                            }

                        </div>

                    </form>
                }
            }

        </div>
    </div>
</div>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}

