@model List<EditUserInRoleViewModel>
@{
    ViewData["Title"] = "Edit Existing User In Role";
    var roleId = ViewBag.roleId;
}

<form method="post">
    <div class="container">
        <div class="row px-2 mx-2 backgroundWhite border shadow" style="margin-top:30px;">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="col-12 px-3" style="border-bottom:1px solid #325d88">
                <h2 class="text-success"><i class="far fa-edit"></i>&nbsp;Add Or Remove user from @ViewBag.DynamicRoleName role!</h2>
            </div>
            <hr />

            <div class="card m-2" style="width:100%;">
                <div class="card-header">
                    <h2>Add or remove users from this role</h2>
                </div>
                <div class="card-body">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <input hidden="hidden" asp-for="@Model[i].UserId" />
                        <input hidden="hidden" asp-for="@Model[i].Username" />
                        <div class="form-check m-1">
                            <input asp-for="@Model[i].IsSelected" class="form-check-input" />
                            @*&nbsp;<i class="far fa-edit"></i>*@
                            <h5>
                                <label class="form-check-label" asp-for="@Model[i].IsSelected">
                                    @Model[i].Username
                                </label>
                            </h5>
                        </div>
                    }
                    <div class="text-danger" asp-validation-summary="All"></div>
                </div>
                <div class="card-footer text-white">
                    <button type="submit" class="btn btn-primary">
                        Update &nbsp;<i class="fas fa-edit"></i>
                    </button>
                    <a class="btn btn-success" asp-route-id="@roleId" asp-controller="superadmin" asp-action="upsert">
                        <i class="fas fa-long-arrow-alt-left"></i>&nbsp;Back to List
                    </a>
                </div>
            </div>
        </div>

    </div>
</form>